<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppPressure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WpfAppPressure.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value>7g6d9m4022q43cznu7z31qduqd3gk6tr4sa8n64jnc58cynv4bl9xbvrcmw5tyq6i9akc1axcqpyvfs20hljuu337s5aj8zzv8zdyctcay6gv66634fmmhlyfgmt69ne1ze9dc0fc6c94a058666bea2b976f9fd99d381baa808b95c6833b399201f031912cwqpdyxii6xxhaw8hp3mmowb7rz9gbk2p63jqo0qyd9par9l7728komy9orw8</value>
            </setting>
        </WpfAppPressure.Properties.Settings>
    </userSettings>
</configuration>